.flexdesign>a {
    text-decoration: none;
}

.box {
    border: 2px solid grey;
    margin: 3px 3px 3px 3px
}

.box:hover {
    background: rgb(102, 153, 255);
}

button {
    width: 100%;
    height: 25px;
    align-items: center;
    background-color: rgb(102, 153, 255);
}

button:hover {
    width: 100%;
    height: 25px;
    align-items: center;
    background-color: rgb(194, 233, 116);
}

.blogtitle {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    margin: 10px 10px 10px 20px;
}

/*small screens*/
/*@media onlyscreen and (max-width:599px) {*/
    .flexdesign {
        display: flex;
        flex-direction: column;
    }
/*}*/

/*medium screens*/
@media (min-width:600px) and (max-width:1100px) {
    .flexdesign {
        display: flex;
        flex-direction: column;
    }
}

/*large screens*/
@media (min-width:1101px) {
    .flexdesign {
        display: flex;
        flex-direction: row;
        width: 100 vw;
        justify-content: space-evenly;
        text-decoration: none;
    }
}